RewriteEngine On
RewriteBase /
RewriteRule ^login$ /?controller=registrazione&task=login [L]
RewriteRule ^logout$ /?controller=registrazione&task=esci [L]
RewriteRule ^signup$ /?controller=registrazione&task=registra [L]
RewriteRule ^boxmail$ /?controller=boxmail&task=mostra [L]
RewriteRule ^profilo$ /?controller=profile&task=mostra [L]
RewriteRule ^profilo/([A-Za-z0-9-_]+)$ /?controller=ricerca&task=$1 [L]
#RewriteRule ^conversazione/?$ /?controller=boxmail&task=dettagli [L]
RewriteRule ^([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)?$ /?controller=$1&task=$2[L]
ErrorDocument 404 /index.php?controller=ricerca&task=404


