/* la regola seguente vale soltanto per le label contenute nel form che ha id formRegistrazione, in questo caso
è contenuto nel template registrazione_registrazione
 */
#formRegistrazione label {
    width: 100px;
    display: inline-block;
}

.form input {
    display: inline-block;
}

.copertina {
    width:100px;
}

/* ricerca semplice */
.ricerca h3{
    font-size: 30px;
    padding:10px 0px;
    color: darkblue;
}
.ricerca input {
    text-align: center;
    margin:5px 0px;
    font-size: 16px;
}

.ricerca {
    margin: auto;
    text-align: center;
    width: 75%;
    padding: 10px;
}

#errore {
    color:red;
}



/* classi percentuali */

.hidden{
    visibility: hidden;
}

.width75 {
width: 75%;
}