/* la regola seguente vale soltanto per le label contenute nel form che ha id formRegistrazione, in questo caso
è contenuto nel template registrazione_registrazione
 */
#formRegistrazione label {
    width: 100px;
    display: inline-block;
}

.form input {
    display: inline-block;
}

/*aggiungo una nuova regola che vale solo per i campi d'inserimento (escludendo i pulsanti, solo i campi in cui si digita
metto un'ombra interna che dà il 3D, e faccio i bordi tondi
 */
input:not([type="submit"]), textarea { /*le quadre dopo il tag indicano l'input di un certo tipo soltanto*/
border-radius: 3px;
padding: 5px;
background-color: snow; /* visto che è Natale ho messo color neve, ma possiamo mettere quello che ci pare*/
box-shadow: 1px 1px 5px 1px #ddd inset;
    border: 1px solid #ccc;
}

.copertina {
    width:100px;
}

/* ricerca semplice */
.ricerca h3{
    font-size: 30px;
    padding:10px 0px;
    color: darkblue;
}
.ricerca input {
    text-align: center;
    margin:5px 0px;
    font-size: 16px;
}

.ricerca {
    margin: auto;
    text-align: center;
    width: 75%;
    padding: 10px;
}

#errore {
    color:red;
}



/* classi percentuali */

.hidden{
    visibility: hidden;
}

.width75 {
width: 75%;
}